# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
appdirs=1.4.3=pypi_0
astroid=2.3.3=py37_0
attrs=19.3.0=pypi_0
black=19.10b0=pypi_0
brotlipy=0.7.0=py37haf1e3a3_1000
ca-certificates=2020.6.24=0
cachetools=4.0.0=pypi_0
certifi=2020.6.20=py37_0
cffi=1.14.1=py37hed5b41f_0
chardet=3.0.4=py37_1003
click=7.0=pypi_0
conda=4.8.4=py37_0
conda-package-handling=1.6.1=py37h1de35cc_0
cryptography=2.9.2=py37ha12b0ac_0
entrypoints=0.3=pypi_0
flake8=3.7.9=pypi_0
google-api-core=1.16.0=pypi_0
google-auth=1.11.0=pypi_0
google-cloud-bigquery=1.23.1=pypi_0
google-cloud-core=1.2.0=pypi_0
google-cloud-storage=1.25.0=pypi_0
google-resumable-media=0.5.0=pypi_0
googleapis-common-protos=1.51.0=pypi_0
idna=2.10=py_0
isort=4.3.21=py37_0
lazy-object-proxy=1.5.1=py37haf1e3a3_0
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
mccabe=0.6.1=py37_1
ncurses=6.2=h0a44026_1
openssl=1.1.1g=h1de35cc_0
pathspec=0.7.0=pypi_0
pip=19.3.1=py37_0
protobuf=3.11.2=pypi_0
psycopg2=2.8.4=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pycodestyle=2.5.0=pypi_0
pycosat=0.6.3=py37h1de35cc_0
pycparser=2.20=py_2
pydash=4.7.6=pypi_0
pyflakes=2.1.1=pypi_0
pylint=2.4.4=py37_0
pyopenssl=19.1.0=py_1
pysocks=1.7.1=py37_0
python=3.7.4=h359304d_1
python-bitcoinlib=0.10.2=pypi_0
python.app=2=py37_9
pytz=2019.3=pypi_0
pyyaml=5.3.1=pypi_0
readline=7.0=h1de35cc_5
regex=2020.1.8=pypi_0
requests=2.24.0=py_0
rsa=4.0=pypi_0
ruamel_yaml=0.15.87=py37haf1e3a3_1
setuptools=49.6.0=py37_0
six=1.14.0=pypi_0
sqlite=3.32.3=hffcf06c_0
tk=8.6.10=hb0a8c7a_0
toml=0.10.0=pypi_0
tqdm=4.48.2=py_0
typed-ast=1.4.1=pypi_0
urllib3=1.25.10=py_0
wheel=0.34.2=py37_0
wrapt=1.12.1=py37h1de35cc_1
xz=5.2.5=h1de35cc_0
yaml=0.2.5=haf1e3a3_0
zlib=1.2.11=h1de35cc_3
